@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-display: 'Manrope', sans-serif;

  /* The new cursive font */
  --font-cursive: 'Pinyon Script', cursive;
}

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
    font-family: var(--font-sans);
  }
}